[submodule "Hardware"]
	path = Hardware
	url = https://github.com/loppe35/PowderDispenser_BuildFiles.git
[submodule "Firmware and Software"]
	path = Firmware_and_Software
	url = https://github.com/loppe35/PowderDispenser_FWSW.git
[submodule "Data"]
	path = Data
	url = https://github.com/loppe35/PowderDispenser_Data.git
[submodule "PowderDispenser_BuildFiles"]
	path = PowderDispenser_BuildFiles
	url = https://github.com/loppe35/PowderDispenser_BuildFiles.git
[submodule "PowderDispenser_Data"]
	path = PowderDispenser_Data
	url = https://github.com/loppe35/PowderDispenser_Data.git
[submodule "PowderDispenser_FWSW"]
	path = PowderDispenser_FWSW
	url = https://github.com/loppe35/PowderDispenser_FWSW.git
